[submodule "projects/compiler-rt"]
	path = projects/compiler-rt
	url = https://github.com/llvm-mirror/compiler-rt.git
[submodule "tools/clang"]
	path = tools/clang
	url = https://github.com/cryo2010/clang.git
